*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.supme{
    background-color: #8c6e4aa8;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    height: 100px;

}
.logo{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 40px;
    top: -10px;
}

.nav{
    height: 12%;
    flex: 1;
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
    margin-top: 30px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 48px;

}

